<header>
    <img src="assets/img/fotoRenan.jpeg" alt="Renan Lopes - Foto de Perfil" width="130px" height="130px"
        loading="eager" />
    <h1>Renan Lopes</h1>
</header>

<aside>
    <div class="container">
        <p>Software developer - Engineering student - Back-end developer</p>
        <p>Itajubá, Minas Gerais, Brasil</p>
        <p>
            Estou ingressando na área de desenvolvimento de software. Devido isso, resolvi desenvolver este projeto de um portfólio utilizando Angular.
        </p>

        <nav>
            <ul>
                <li>
                    <a href="assets/pdf/Lattes.pdf" target="_blank" class="btn btn-primary">
                        Download Cv
                    </a>
                </li>

                <li>
                    <a href="https://www.linkedin.com/in/renan-lopes-a572ab206/" target="_blank"
                        class="btn btn-secondary">
                        LinkedIn
                    </a>
                </li>
            </ul>
        </nav>

        <section>
            <figure>
                <img src="assets/icons/whatsapp.svg" alt="Ícone para contato do WhatsApp" width="22px" height="24px" />

                <figcaption>
                    <a href="https://api.whatsapp.com/send?phone=5535984358842&text=Ol%C3%A1%20Renan,%20preciso%20de%20um%20job!"
                        target="_blank">
                        <strong>Envie uma menssagem para:</strong>
                        <p>WhatsApp: (11) 9 8435-8842</p>
                    </a>
                </figcaption>
            </figure>

            <figure>
                <img src="assets/icons/mail.svg" alt="Ícone para contato do e-mail" width="22px" height="24px" />

                <figcaption>
                    <a href="mailto:rrloppes7@gmail.com" target="_blank">
                        <strong>Envie uma e-mail para:</strong>
                        <p>rrlopes7&#64;gmail.com</p>
                    </a>
                </figcaption>
            </figure>
        </section>
    </div>
</aside>